<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<!--参考地址:https://github.com/NLog/NLog/wiki/-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}\log\${date:format=yyyyMM}"/>
  <variable name="LogBody" value="-------------------------------${date:format=HH\:mm\:ss}--------------------------------------${newline}日志级别:${level}${newline}日志消息:${message}${newline}日志跟踪:${stacktrace}"/>
  <variable name="Debug" value="-------------------------------${date:format=HH\:mm\:ss}--------------------------------------${newline}日志级别:${level}${newline}日志消息:${message}${newline}"/>
  <targets>
    <default-target-parameters xsi:type="File" archiveAboveSize="5000000" layout="${message}" encoding="utf-8"/>
    <target name="Info" xsi:type="File" fileName="${logDirectory}\Info\${date:format=yyyyMMddHH}.txt" layout="${LogBody}" />
    <target name="Debug" xsi:type="File" fileName="${logDirectory}\Debug\${date:format=yyyyMMddHH}.txt" layout="${Debug}"/>
    <target name="Exception" xsi:type="File" fileName="${logDirectory}\Exception\${date:format=yyyyMMddHH}.txt" layout="${LogBody}"/>
    <target name="Fatal" xsi:type="File" fileName="${logDirectory}\Fatal\${date:format=yyyyMMddHH}.txt" layout="${LogBody}"/>
    <target name="LogCustom" xsi:type="File" fileName="${logDirectory}\Custom\${event-context:BusinessName}\${date:format=yyyy-MM-dd HH}.txt"
            layout="-------------------------------${date:format=HH\:mm\:ss}--------------------------------------${newline}日志级别:${level}${newline}日志消息:${message}${newline}"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <logger name="LogCustom" level="Info" writeTo="LogCustom" />
  </rules>
</nlog>
