<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings> 
    <!--<add name="Main" connectionString="Server=101.132.47.71;port=3306;Database=sanlics;Uid=root;Pwd=slcs@!@#$%;Pooling=true;CharSet=utf8mb4;sslmode=none" />-->
    <add name="Main" connectionString="Server=101.132.75.148;port=3306;Database=dev_sanlics;Uid=root;Pwd=yy@95533;Pooling=true;CharSet=utf8mb4;sslmode=none"/>
    <!--<add name="Main" connectionString="Server=192.168.9.141;port=3306;Database=dev_sanlics;Uid=root;Pwd=yy@95533;Pooling=true;sslmode=none"/>-->
  </connectionStrings>
  <appSettings>
    <!--版本号-->
    <add key="Versions" value="1.00"/>
    <!--系统维护中-->
    <add key="IsMaintain" value="0"/>
    <!--登录超时分钟数-->
    <add key="Login_Timeout" value="180080"/>
    <!--WebSocket地址-->
    <add key="WS_Url" value="ws://127.0.0.1:6002/store"/>

    <!--微信公众号AppID-->
    <add key="WeChat_MP_AppID" value="wx5f97e8d28d60bf32"/>
    <!--微信公众号AppSecret-->
    <add key="WeChat_MP_AppSecret" value="2db4268bfdd464deff23cd1da689513a"/>
    <!--微信公众号商户Id-->
    <add key="WeChat_MP_BusinessId" value="1525405521"/>
    <!--微信公众号Key-->
    <add key="WeChat_MP_Key" value="A539C7F914DF4F3EABA57D0B7418F9C2"/>
    <!--微信公众号证书-->
    <add key="WeChat_MP_Cert" value="D:\wechat_cert\apiclient_cert.p12"/>

    <!--短信地址-->
    <add key="SMS_Url" value="dysmsapi.aliyuncs.com"/>
    <!--短信签名 -->
    <add key="SMS_Sign" value="三里茶社"/>
    <!--短信摸版Id-->
    <add key="SMS_TemplateId" value="SMS_158445025"/>
    <!--验证码有效期(分钟) -->
    <add key="SMS_CodeTimeout" value="5"/>

    <!--阿里云ID-->
    <add key="Aliyun_ID" value="LTAIVR45Ku4aFB7N"/>
    <!--阿里云Secret-->
    <add key="Aliyun_Secret" value="mUHfNKujtFiWNs9idCWwIWzQKZwsiU"/>
    
    <!--Redis相关-->
    <add key="RedisHost" value="101.132.75.148"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisPwd" value="lcb@95533"/>
    <add key="RedisDBNumber" value="1"/>

    <!--上传的文件路径-->
    <add key="Upload_Path" value="/Uploads"/>
    <!--允许上传的文件扩展名-->
    <add key="Upload_Extends" value="gif,jpg,jpeg,png"/>
    <!--上传的文件大小限制(M)-->
    <add key="Upload_MaxSize" value="5"/>

    <!--测试环境-->
    <add key="IsTest" value="1" />

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="10240"/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
