
.my-program{
    margin: 0 auto;
    max-width: 450px;
    min-width: 320px;
width: 100%;
height: 100%;
overflow: hidden;
margin: 0 auto;
box-sizing: border-box;
background-color: #eee;
padding-bottom: 13rem;

}


*{
padding: 0;
margin: 0;
}
.program-top{
position: relative;

}
.bg-picture{
    height: 100%;
    width: 100%;
}
.my-info{
    position: absolute;
    width: 100%;
    height: 13rem;
    left: 0;
    top: 0;
    img{
        height: 100%;
    }
}
.set-info{
height: 2rem;
margin-top: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
.set-img{
height: 100%;
// margin: 0 auto;
align-items: center;
margin-left: 1rem;
}
.my-name{
    display: flex;
    justify-content: center;
    height: 100%;
    // margin: 0 auto;
    align-items: center;
    font-size: 17px;
    margin-left: 2rem;
}
.update-name{
height: 60%;

}
.mail-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
// margin: 0 auto;
    margin-right: 1rem;
}
.my-headset{
   height: 100%;
   margin-right: 0.5rem;
}
.my-emailbox{
    height: 100%;

}
}
.set-balance{
    margin-top: 1rem;
    height: 1rem;
  
    display: flex;
    justify-content: center;
    color: #d8d8d8;
    font-size: 13px;
}
.set-personal{
  height: 6rem;
 display: flex;
 justify-content: center;
 margin-top: 2rem;
}
.my-library{
    height: 4rem;
}
.my-library-list{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    font-size: 13px;
    height: 4rem;
    li{
        list-style-type: none;
        height: 100%;
        text-align: center;
        img{
            height: 100%;
        }
    }
}
.library-list{
    height: 55%;
    padding: 0.3rem 0;
    margin: 0 auto;
}
// .my-browse{
//     margin-left: -0.8rem;
// }
.myorder-detail{
height: 4rem;

}
.detail-list{
    height: 65%;
    padding: 0.3rem 0;
    margin: 0 auto;

}
.myorder-detail-list{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    height: 4rem;
    li{
        list-style-type: none;
        height: 100%;
        text-align: center;
        img{
            height: 100%;
        }
    }
}
.account-center{
    height: 4rem;  
}
.account-center-list{
    display: flex;
 flex-wrap: wrap;
    font-size: 13px;
    height: 4rem;
    li{
        list-style-type: none;
        height: 100%;
        text-align: center;
        width: 25%;
        img{
            height: 100%;
        }
    }

}
.account-centerimg{
    height: 65%;
    padding: 0.3rem 0;
    margin: 0 auto;

}

//底部nav导航条
.component_menu{

position: fixed;
bottom: 0;
display: flex;
justify-content: space-around;
width: 100%;
max-width: 450px;
min-width: 320px;
background-color:#373330; 
color: #d8d8d8;
padding: 0.2rem;
z-index: 900;
box-sizing: border-box;
left: 0;
right: 0;
margin: 0 auto;
   i{
display: block;
width: 50%;
margin:  auto;
      img{
    width: 100%;
}

   }
}
.component_menu a{
display: flex;
justify-content: space-between;
flex-direction: column;
text-align: center;
cursor: pointer;
}
.component_menu p{
margin: 0;
font-size: 0.6rem;

}
.component_menu p.select_on{
    color: #655137;
}

//登录页
.background-picture{
     position: fixed;
     background: url("/images/login/bg.jpg") no-repeat;  
     width:100%; 
     height:100%; 
     background-size: cover;
     max-width: 450px;
     min-width: 320px;
     left: 0;
     right: 0;
     margin: 0 auto;
  img{
      width: 100%;
      height: 100%;
  }
}
.go-back{
    margin-top: 5rem;
    margin-left: 1rem;
    height: 1.8rem;
    width: 1.8rem;
}
.logo-page{
    height: 5rem;
    width: 5rem;
   margin: 3rem auto;
}
.input-phone {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    height: 1rem;
    align-items: center;
    input{
        border: none;
        background-color: transparent;              
    }
}
.phone-picture {
    height: 1.5rem;
    width: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.phone-num {
    ::-webkit-input-placeholder{
        color: #d8d8d8;
    }
}

.input-password{
    display: flex;
    justify-content: flex-start;
    height: 1rem;
    align-items: center;
    input{
        border: none;
        background-color: transparent;              
    }

}
.lock-picture{
    height: 1.5rem;
    width: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.lock-num{
    ::-webkit-input-placeholder{
        color: #d8d8d8;
    }
}
.password-hint{
     margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    color: #d8d8d8;
    font-size: 13px;
}
.bot-login{
    background-color:#f3d273;
    height: 2.5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
   padding: 0.5rem 0;
   border-radius: 5px;
}
.password-circle{
display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
width: 6.5rem;

}
.circle{
width: 14px;
height: 14px;
background-color: #eee;
border-radius: 50%;


}
.forget-password{
margin-left: 10rem;

}

//茶室详细
.teahouse-detail{
left: 0;
right: 0;
top: 0;
max-width: 450px;
min-width: 320px;
margin: 0 auto;



img{
    width: 100%;
  
}

}
.th-top-picture{
position: relative;

}
.top-picture-ico{
display: flex;
justify-content: space-between;
position: absolute;
height: 1.5rem;
top: 1rem;
width: 100%;
align-items: center;
}
.top-picture-left{
margin-left: 0.5rem;
width: 2rem;

}
.top-picture-right{
display: flex;
justify-content: space-around;
margin-right: 0.8rem;
width: 5rem;
align-items: center;
    p{
     margin-right: 0.5rem;   
    }
}
.top-picture-bot{
right: 0.5rem;
bottom: 0.8rem;
position: absolute;
width: 5.2rem;
height: 8rem;
display: flex;
justify-content: inherit;
 
color:blanchedalmond;
}
.picture-bot{
position: absolute;
display: flex;
flex-direction: column;

}
.bot-name{
    margin: 0.5rem auto;
}
.bot-grade{
margin: 0.6rem auto;
font-size: xx-large;
}
.bot-phone{
width: 100%;
font-size: xx-small;
margin: 0 auto;
}
.map-distance{
display: flex;
justify-content: space-between;
height: 1rem;
margin: 0 auto;
font-size: 13px;
}
.map-distance-right{
display: flex;
justify-content: flex-end;
align-items: inherit;
margin-right: 1rem;
img{
    height: 100%;
}
}
.map-location{
    margin-left: 1rem;
    font-size: 24px;
}
.map-distance-left{
   margin-left: 1rem;

}
.judge-comment{
height: 2rem;
margin: 1rem 0.5rem;
display: flex;
justify-content: space-between;
     img{
         width: 100%;
         height: 100%;
     }
}
.judge-comment-left{
   display: flex;
   justify-content: flex-start;
align-items: center;
}
.star-picturenum{
    height: 1rem;
    display: flex;
 flex-wrap: nowrap;
}
.comment-left-arrow{
    height: 1rem;
    width: 0.5rem;
}
.comment-left-grade{
font-size: 36px;
color: darkorchid;
}
.star-picture{
    margin-left: 0.8rem;
    margin-right: 0.8rem;

}
.judge-comment-right{
// height: 2rem;
//    img{
//     width: 100%;
//     height: 100%;
//    }
}
.invoiceList{
    // padding-left: 1.5rem;
    padding-bottom: 6rem;
    .nodongxi{
        background: #ddd !important ;
    }
    .Selected{
        background: #E5A440;
        border: 0 !important ;
    }
    .one{
        padding: 2rem 0 1rem 1.5rem;
        display: flex;
        border-bottom: 1px solid #eee;
    }
    .Img{
        img{
            width: 6.5rem;
            margin-right: 0.5rem;
        }
    }
    .noSelected{
        margin-top: 0.5rem;
        width: 1rem;
        height: 1rem;
        margin-right: 0.6rem;
        border-radius: 50%;
        border: 1px solid #B8B8B8;
    }
    .invoiceRight{
        color: #898989;
        font-size: 0.6rem;
        display: flex;
        flex-direction: column;
    }
    .name_price{
        display: flex;
    }
    .price{
        margin-left: 2rem;
    }
    .name{
        color: black;
    }
    .fixed_bottom{
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 4rem;
        width: 100%;
        max-width: 450px;
        padding: 2rem;
        bottom: 0;
        .i_left{
            display: flex;
            align-items: center;
            .b1{
                margin-top: 0;
                margin-right: 1rem;
            }
        }
        .invoiceBtn{
            background: #E5A440;
            width: 5rem;
            border-radius: 0.5rem;
            height: 1.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 0.8rem;
        }
    }
}
.invoice{
    .fp_type{
        display: flex;
        align-items: center;
        color: #E5A440;
    }
    .tab{
        display: flex;
        margin-left: 1rem;
    }
    .other_input{
        margin-bottom: 0 !important;
    }
    input::-webkit-input-placeholder {
        color: #C9CACA;
        // font-size: 12px;
    }
    textarea::-webkit-input-placeholder {
        color: #C9CACA;
        // font-size: 12px;
    }
    .warning{
        color: red;
        margin-left: 2rem;
        font-size: 0.7rem;
    }
    
}


















